.header,
.footer,
.datos,
.main {
  padding: 50px;
}

.header {
  color:black;
  text-align: center;
  letter-spacing: 2px;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(rgb(255, 203, 203),rgb(204, 204, 252));
  background-size: cover;
}
.footer {
  background-color: #2196f3;
  background: linear-gradient(rgb(255, 203, 203),rgb(204, 204, 252))
}
.main {
  background-color: #c7e5fd;
}
.datos {
  background-color: #eeeeee;
  text-align: center;
  letter-spacing: 2px;
  font-family:'Courier New', Courier, monospace;
  padding-left: 0%;
  
}
.Info_academica{
    background-color: bisque;
}
.referencias{
    background-color: #c7e5fd;
}
body {
    margin: 0 auto;
    background: /*para el fondo de cuadritos */
    radial-gradient(rgb(241, 209, 209) 3px, transparent 4px),
    radial-gradient(rgb(203, 211, 255) 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
  #fff;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }
  
  .container {
    display: grid;
    /* Grid de 2x3 */
    /* 2 columnas: ambas de 1fr */
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
    /* 3 filas: grid-rows: auto */
    grid-template-rows: 7% auto auto 9.1%;
    row-gap: 1%;
    width: 95%;
    max-width: 1500px;
    margin: 1.6em auto;
  }
  .header,
  .footer {
    grid-column:span 3;
  }
  .header,
  .footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .header {
    grid-row: 1; 
    padding: 0.2%;
    
  }
  
  .footer {
    grid-row: 4;
    padding: 0%;
  }
  h2{
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
  }
 .Info_academica article{
     
     padding: 15px 5%;
     margin-top: 5px;
     margin: 20px 36px;
     font-family: 'Courier New', Courier, monospace;
     border-top: 2px dashed rgb(255, 255, 255);
      
    
 }
  .datos {
    grid-column: 1;
    grid-row: span 2; 
    line-height : 34px;  
    text-align: left;
  }
 
  .main {
    grid-column: 2;
    grid-row: 3;
    font-family: 'Courier New', Courier, monospace;
  }
  .main p{
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
  }
  .Info_academica{
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 1%;
  }
  .referencias {
    grid-column: 3;
    grid-row: 3;
    padding: 5%;
    line-height : 28px; 
  }
  main p{
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
  }
  .referencias p {
      font-family: 'Courier New', Courier, monospace;
      text-align: left;
  }
  .datos img {
    width: 50%;
    display:block;
    margin:auto;
    border-radius: 50%;
  }
  @media (max-width: 400px) {
    .container {
      display: block;
    }
  }
  .social {
    align-items: center;
    display: flex;
    margin: auto;
    width: 30%;
 
   }
   .social img{
    max-width: 30%;
   }
   .social img:hover {
    background-color: rgb(152, 215, 235);
    cursor: pointer;
  }

  